<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<!-- netTcpBinding za komunikaciju -->
			<netTcpBinding>
				<binding name="WeatherStationBinding" maxReceivedMessageSize="65536" maxBufferSize="65536">
					<security mode="None"/>
				</binding>
				<binding name="ServerStateBinding" maxReceivedMessageSize="65536" maxBufferSize="65536">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>

		<client>
			
			<endpoint name="Source"
					  address="net.tcp://localhost:4000/IWeatherStationService"
					  binding="netTcpBinding"
					  bindingConfiguration="WeatherStationBinding"
					  contract="SharedLibrary.IWeatherStationService"
					  behaviorConfiguration="NoAuthentication"/>

			
			<endpoint name="Destination"
					  address="net.tcp://localhost:5000/IWeatherStationService"
					  binding="netTcpBinding"
					  bindingConfiguration="WeatherStationBinding"
					  contract="SharedLibrary.IWeatherStationService"
					  behaviorConfiguration="NoAuthentication"/>

			<endpoint name="Primary"
					  address="net.tcp://localhost:4001/IServerStateService"
					  binding="netTcpBinding"
					  bindingConfiguration="ServerStateBinding"
					  contract="SharedLibrary.IServerStateService"
					  behaviorConfiguration="NoAuthentication"/>

			<endpoint name="Secondary"
					  address="net.tcp://localhost:5001/IServerStateService"
					  binding="netTcpBinding"
					  bindingConfiguration="ServerStateBinding"
					  contract="SharedLibrary.IServerStateService"
					  behaviorConfiguration="NoAuthentication"/>
		</client>
	</system.serviceModel>
</configuration>