<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherStationServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<system.serviceModel>
		<services>
			<service name="WeatherStationServer.WeatherStationService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000/IWeatherStationService" />
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<endpoint address="" binding="netTcpBinding" contract="SharedLibrary.IWeatherStationService" />
			</service>
			<service name="WeatherStationServer.ServerStateService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4001/IServerStateService" />
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<endpoint address="" binding="netTcpBinding" contract="SharedLibrary.IServerStateService" />
			</service>
		</services>
	</system.serviceModel>
    <applicationSettings>
        <WeatherStationServer.Properties.Settings>
            <setting name="ServerState" serializeAs="String">
                <value>Primary</value>
            </setting>
        </WeatherStationServer.Properties.Settings>
    </applicationSettings>
</configuration>